<div class="col-md-4 portfolio-item">
	<%= link_to image_tag("http://placehold.it/700x400", class: "img-responsive"), room_path(room.id) %>
    <h3>
    	<%= link_to "Salon - " + room.prize.name, room_path(room.id) %>
        <small>
	        <%= room.prize.price %> <i class="fa fa-eur"></i>
	        <span class="label label-info pull-right"><%= room.share_price %></span>
        </small>
    </h3>                
    <p><%= room.prize.description %></p>
</div>