<% if user_signed_in? && @my_rooms.any? %>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Bonjour <%= current_user.username %></h1>
			<small>Nombre de tokens restants : <span class="label label-default"><%= current_user.tokens%></span></small>
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Bonjour</h1>
			<small>Connectez-vous pour avoir accès aux fonctionnalités du site !</small>
		</div>
	</div>
<% end %>

<% if @all_rooms.any? %>

	<div class="row">
		<div class="col-lg-12">
			<h2> Les salons en cours </h2>
		</div>
	</div>

	<div class="row">
		<% @all_rooms.each do |room| %>
			<%= render partial: "/shared/room_container", locals: { room: room } %>
		<% end %>
	</div>

<% end %>

<% if user_signed_in? && @my_rooms.any? %>

	<div class="row">
		<div class="col-lg-12">
			<h2>Mes salons</h2>
		</div>
	</div>

	<div class="row">
		<% @my_rooms.each do |room| %>
			<%= render partial: "/shared/room_container", locals: { room: room } %>
		<% end %>
	</div>
	<%= link_to 'Voir tout mes salons', showmyrooms_room_path(current_user::id) %>

<% end %>