<%= simple_form_for @room do |field| %>

	<div class="row">
		<div class="md-form form-group col-lg-5">
			<%= field.input :start_date, label: false, class: 'form-control' %>
			<label for="room_start_date" class="active">Début</label>
		</div>
	</div>

	<div class="row">
		<div class="md-form form-group col-lg-5">
			<%= field.input :end_date, label: false, class: 'form-control active' %>
			<label for="room_end_date" class="active">Fin</label>
		</div>
	</div>

	<div class="row">
		<div class="md-form form-group col-lg-5">
			<%= field.input :share_price, label: false, class: 'form-control' %>
			<label for="room_share_price" class="active">Participation</label>
		</div>
	</div>

	<div class="row">
		<div class="md-form form-group col-lg-5">
			<%= field.association :prize, label: false, class: 'form-control' %>
			<label for="room_prize" class="active">Lot</label>
		</div>
	</div>

	<p>
		<%= field.submit 'Sauvegarder', class: 'btn btn-primary' %>
	</p>

<% end %>