<%= simple_form_for @room do |field| %>

	<div class="row">
		<div class="md-form form-group col-lg-5">
			<p><%= field.input :start_date, label: 'Nom', class: 'form-control' %></p>
		</div>
	</div>

	<div class="row">
		<div class="md-form form-group col-lg-5">
			<p><%= field.input :end_date, label: 'Niveau', class: 'form-control' %></p>
		</div>
	</div>

	<div class="row">
		<div class="md-form form-group col-lg-5">
			<p><%= field.input :share_price, label: 'Participation', class: 'form-control' %></p>
		</div>
	</div>

	<div class="row">
		<div class="md-form form-group col-lg-5">
			<p><%= field.association :prize, label: 'Lot', class: 'form-control' %></p>
		</div>
	</div>

	<p>
		<%= field.submit 'Sauvegarder', class: 'btn btn-primary' %>
	</p>

<% end %>