<h1 class="text-center">Afficher un salon</h1>

<p>
	<%= link_to 'Editer',  edit_room_path(@room), class: 'btn btn-warning' %>
	<%= link_to 'Supprimer', @room, 
		method: :delete, 
		data: { 
			confirm: 'Êtes-vous sûr(e) de vouloir supprimer ce salon ?'
		}, 
		class: 'btn btn-danger' %>
	<%= link_to 'Retour à la liste des salons', rooms_path, class: 'btn btn-success' %>
</p>

<%= render partial: 'display_infos', locals: { room: @room, author: @created_by } %>

<hr />


<% if @winner != nil %>
	<%= render partial: 'win_infos', locals: { is_winner: @winner.id == current_user.id } %>
<% elsif !@is_over %>
	<%= render partial: 'participation_infos', locals: { room: @room, my_shares: @my_shares, all_shares: @all_shares } %>
<% end %>