<h1 class="text-center">Afficher un salon</h1>

<p>
	<%= link_to 'Editer',  edit_room_path(@room), class: 'btn btn-warning' %>
	<%= link_to 'Supprimer', @room, 
		method: :delete, 
		data: { 
			confirm: 'Êtes-vous sûr(e) de vouloir supprimer ce salon ?'
		}, 
		class: 'btn btn-danger' %>
	<%= link_to 'Retour à la liste des salons', rooms_path, class: 'btn btn-success' %>
</p>

<%= render partial: 'display_infos', locals: { room: @room, author: @created_by } %>

<% if @my_shares > 0 %>
	<p>Mes parts :  <%= @my_shares %></p>
	<p>Parts totales :  <%= @all_shares %></p>
	<% label_participate = 'Rajouter une part' %>
	<% message_participate = 'Êtes-vous sûr(e) de vouloir racheter une part de ce salon ?' %>
<% else %>
	<% label_participate = 'Participer' %>
	<% message_participate = 'Êtes-vous sûr(e) de vouloir acheter une part de ce salon ?' %>
<% end %>

<%= link_to label_participate, participate_room_path(@room), 
	method: :get, 
	data: { 
		confirm: message_participate
	}, 
	class: 'btn btn-primary' %>