<h1>Liste des catégories <%= link_to 'Ajouter', new_category_path, class: "btn btn-success" %></h1>
	
<% if @categories.any? %>

	<%= will_paginate @categories, renderer: BootstrapPagination::Rails %>

	<table class="table table-stripped">
		<thead>
			<tr>
				<td>Nom</td>
			</tr>
		</thead>
		<tbody>
			<% @categories.each do |category| %>
			<tr>
				<td><%= category.name %></td>
				<td>
					<%= link_to 'Afficher', category_path(category.id), class: "btn btn-info" %>
					<%= link_to 'Modifier', edit_category_path(category.id), class: "btn btn-warning" %>
					<%= link_to 'Supprimer', category,
						method: :delete,
						data:{
							confirm: 'Etes-vous sur de vouloir supprimer cette catégorie ?'
						},
					class: 'btn btn-danger' %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>

<% else %>
	<p>Il n'y a pas encore de lots</p>
<% end %>