<%= simple_form_for @prize do |field| %>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="md-form form-group col-lg-6">
					<p><%= field.input :name, label: 'Nom', class: 'form-control' %></p>
				</div>
			</div>
			<div class="row">
				<div class="md-form form-group col-lg-6">
					<p><%= field.input :description, label: 'Description', class: 'form-control' %></p>
				</div>
			</div>
			<div class="row">
				<div class="md-form form-group col-lg-6">
					<p><%= field.input :photo_path, label: 'Image', class: 'form-control' %></p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="md-form form-group col-lg-6">
					<p><%= field.input :price, label: 'Prix', class: 'form-control' %></p>
				</div>
			</div>

			<div class="row">
				<div class="md-form form-group col-lg-6">
					<p><%= field.association :categories, label: 'Catégories', as: :check_boxes, class: 'form-control'%></p>
				</div>
			</div>
		</div>
	</div>

	<p><%= field.submit 'Sauvegarder', class: 'btn btn-primary' %></p>

<% end %>