<%= simple_form_for @prize do |field| %>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="md-form form-group col-lg-6">
					<%= field.input :name, label: false, class: 'form-control' %>
					<label for="prize_name" class="active">Nom</label>
				</div>
			</div>
			<div class="row">
				<div class="md-form form-group col-lg-6">
					<%= field.input :description, label: false, class: 'form-control' %>
					<label for="prize_description" class="active">Description</label>
				</div>
			</div>
			<div class="row">
				<div class="md-form form-group col-lg-6">
					<%= field.input :photo_path, label: false, class: 'form-control' %>
					<label for="prize_photo_path" class="active">Image</label>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="md-form form-group col-lg-6">
					<%= field.input :price, label: false, class: 'form-control' %>
					<label for="prize_price" class="active">Prix</label>
				</div>
			</div>

			<div class="row">
				<div class="md-form form-group col-lg-6">
					<%= field.association :categories, label: false, class: 'form-control'%>
					<label for="prize_categories" class="active">Catégories</label>
				</div>
			</div>
		</div>
	</div>

	<p><%= field.submit 'Sauvegarder', class: 'btn btn-primary' %></p>

<% end %>