<h1>Liste des rooms</h1>
	
<% if @rooms.any? %>
	<%= will_paginate @rooms, renderer: BootstrapPagination::Rails %>
	
	<table class="table">
		<thead>
			<tr>
				<td>Nom</td>
				<td>Début</td>
				<td>Fin</td>
				<td>Catégories</td>
			</tr>
		</thead>
		<tbody>
			<% @rooms.each do |room| %>
			<tr>
				<td>Salon de "<%= room.prize.name %>"</td>
				<td><%= room.start_date %></td>
				<td><%= room.end_date %></td>
				<td></td>
				<td><%= render partial: 'moves_list', locals: { moves: room.moves } %></td>
				<td>
					<%= link_to 'Afficher', room_path(room.id), class: "btn btn-info" %>
					<%= link_to 'Modifier', edit_room_path(room.id), class: "btn btn-warning" %>
					<%= link_to 'Supprimer', room,
						method: :delete,
						data:{
							confirm: 'Etes-vous sur de vouloir supprimer ce salon?'
						},
					class: 'btn btn-danger' %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p>Il n'y a pas encore de salon</p>
<% end %>

<% if user_signed_in? %>
	<p><%= link_to 'Ajouter un salon', new_room_path, class: "btn btn-success" %></p>
<% end %>