<div class="jumbotron">
	<div class="row">
		<div class="col-md-9">
			<h2 class="text-center">Liste des lots</h2>
		</div>
		<div class="col-md-3">
			<h2><%= link_to 'Ajouter', new_prize_path, class: "btn btn-success text-right" %></h2>
		</div>
	</div>

	<form class="form-inline row" method="get" action="">

		<div class="md-form form-group col-md-3">
			<input type="text" id="searchName" name="searchName" class="form-control" value="<%= @searchName %>" />
			<label for="searchName">Rechercher par nom</label>
		</div>

		<div class="md-form form-group col-md-3">
			<input type="text" id="searchCategory" name="searchCategory" class="form-control" value="<%= @searchCategory %>" />
			<label for="searchCategory">Rechercher par catégorie(s)</label>
		</div>

		<div class="md-form form-group col-md-3">
			<input type="submit" class="btn btn-primary btn-lg" value="Rechercher" />
		</div>

	</form>

	<hr />
		
	<% if @prizes.any? %>

		<table class="table table-stripped">
			<thead>
				<tr>
					<td class="text-primary"><strong>Nom</strong></td>
					<td class="text-primary"><strong>Description</strong></td>
					<td class="text-primary"><strong>Catégories</strong></td>
				</tr>
			</thead>
			<tbody>
				<% @prizes.each do |prize| %>
				<tr>
					<td><%= prize.name %></td>
					<td><%= prize.description %></td>
					<td><%= render partial: '/shared/categories_list', locals: { categories: prize.categories } %></td>
					<td>
						<%= link_to 'Afficher', prize_path(prize.id), class: "btn btn-info" %>
						<%= link_to 'Modifier', edit_prize_path(prize.id), class: "btn btn-warning" %>
						<%= link_to 'Supprimer', prize,
							method: :delete,
							data:{
								confirm: 'Etes-vous sur de vouloir supprimer ce lot ?'
							},
						class: 'btn btn-danger' %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<%= will_paginate @prizes, renderer: BootstrapPagination::Rails %>

	<% else %>
		<p>Il n'y a pas encore de lots</p>
	<% end %>
</div>