<!DOCTYPE html>
<html>
	<head>
		<title>GameOfWheel</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device.width, initial-scale=1" />
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<%= link_to 'Game Of Wheel', root_path, class: "navbar-brand" %>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<% if user_signed_in? %>
					<ul class="nav navbar-nav">
						<li><%= link_to 'Mes salons', showmyrooms_room_path(current_user::id) %></li>
						<li><%= link_to 'Salons', rooms_path %></li>
						<% if current_user.has_role?(:admin) %>
							<li><%= link_to 'Catégories', categories_path %></li>
							<li><%= link_to 'Lots', prizes_path %></li>
						<% end %>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><label class="navbar-text"><%= current_user.tokens%> tokens</label></li>
								<li><%= link_to 'Mon compte', edit_user_registration_path %></li>
								<li role="separator" class="divider"></li>
								<li><%= link_to 'Se deconnecter', destroy_user_session_path, method: :delete %></li>
							</ul>
						</li>
					</ul>
				<% else %>
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to 'S\'inscrire', new_user_registration_path %></li>
						<li><%= link_to 'Se connecter', new_user_session_path %></li>
					</ul>
				<%end%>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div class="container">
			<% flash.each do |name, msg| %>
				<div class="alert alert-<%= name %>">
					<a class="close" data-dismiss="alert">x</a>
					<%= content_tag :div, msg, id: "flash_#{name}" %>
				</div>
			<% end %>
			<br />
			<%= yield %>
		</div>
	</body>
</html>


							